# List & Dicts

In [ ]:
Myname = 'Subham Prasad Mukherjee'

In [2]:
type(Myname)

str

In [47]:
print(Myname)

Subham Prasad Mukherjee

In [4]:
Myname2 = "Subham Prasad Mukherjee's"

In [5]:
print(Myname2)

Subham Prasad Mukherjee's

In [6]:
5*Myname2

"Subham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee's"

In [7]:
13*Myname2

"Subham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee'sSubham Prasad Mukherjee's"

In [8]:
newname = "Jolly,Ruby,Maya,Sony,Binu,Harshita"

In [9]:
type(newname)

str

In [11]:
newname[0:5] #Randomly access first 5 char from the string

'Jolly'

In [12]:
newlist = ['Mona','Radhika','Barsha','Priya','Sonakshi','Ramaya']

In [13]:
type(newlist) #To know the type

list

In [14]:
newlist[1] #Randomly access from the list

'Radhika'

In [20]:
newname1 = 'Swapna' #name1

In [21]:
newname2 = 'Ganesh' #name2

In [28]:
newname3 = "Hey, i am %s. How r u?" #we can put any variable on %s place

In [29]:
newname3 %newname1 #call to newname1

'Hey, i am Swapna. How r u?'

In [30]:
newname3 %newname2 #call to newname2

'Hey, i am Ganesh. How r u?'

In [31]:
sent = "I am using both %s and %s" #Another Example

In [32]:
sent1 = sent%('Facebook','Twitter') #Here is two variable called Fb & Tw

In [33]:
print(sent1)

I am using both Facebook and Twitter

In [34]:
sent2 = sent%(10,60) #Here is two numeric variable 10 & 20

In [35]:
sent2

'I am using both 10 and 60'

In [36]:
newlist[0] = 'Sweta' #Substituting member in a list

In [37]:
newlist

['Sweta', 'Radhika', 'Barsha', 'Priya', 'Sonakshi', 'Ramaya']

In [38]:
newlist[2]

'Barsha'

In [39]:
newlist.append('Charle') #Appending member in list

In [40]:
newlist

['Sweta', 'Radhika', 'Barsha', 'Priya', 'Sonakshi', 'Ramaya', 'Charle']

In [41]:
del newlist[2] #Delete member from the list

In [42]:
newlist

['Sweta', 'Radhika', 'Priya', 'Sonakshi', 'Ramaya', 'Charle']

In [43]:
addmem = [1,5,3,9,6,2] #Add some members in the list

In [44]:
newlist1 = newlist+addmem

In [45]:
newlist1

['Sweta', 'Radhika', 'Priya', 'Sonakshi', 'Ramaya', 'Charle', 1, 5, 3, 9, 6, 2]

In [46]:
addmem*3

[1, 5, 3, 9, 6, 2, 1, 5, 3, 9, 6, 2, 1, 5, 3, 9, 6, 2]

# Tuples & Dict

In [51]:
scores = (23,57,35,86,21,47) #Tuple

In [ ]:
type(scores) #To know type

In [54]:
scores[3] #Access ramdomly from a tuple

86

# Let's Create a Dictionary or Dict
A dictionary in Python is a collection of unordered values accessed by key rather than by index

In [55]:
FavoriteMovie = {'Tubelight':'Salman Khan','Akira':'Sonakshi Sinha','R Rajkumar':'Saheed','Raees':'Shahrukh Khan'}

In [56]:
type(FavoriteMovie)

dict

In [59]:
FavoriteMovie['Raees'] #Hero of Raees Movie?

'Shahrukh Khan'

In [60]:
FavoriteMovie['Akira'] #Heroine of Akira Movie?

'Sonakshi Sinha'

# Strings
Strings are amongst the most popular types in Python. They come in handy while handling text data. In Data Analysis its often used wide range of things from text cleaning/manipulation, dates conversion to sentiment analysis.

In [1]:
s = "Sachin_Tendulkar" 
s

'Sachin_Tendulkar'

In [2]:
#Indexing
len(s)

16

In [3]:
#s[0] 
#s[8]
s[6]

'_'

In [4]:
#Negative Indexing
s[-16]

'S'

In [5]:
#Slicing : Only upper bound - Not included
s[:4]

'Sach'

In [6]:
#Only lower bound - Included
s[4:]

'in_Tendulkar'

In [7]:
s[3:7]

'hin_'

In [8]:
s[:]

'Sachin_Tendulkar'

In [9]:
#Special characters in string
s = 'Sachin's Score'
s

SyntaxError: invalid syntax (<ipython-input-9-470941556bfe>, line 2)

In [10]:
s = 'Sachin\'s score' #escape character, takes it literally
s

"Sachin's score"

In [11]:
s = "Sachin's_Score"
s

"Sachin's_Score"

# Splitting a string
Split(): Splits the string and add the data to a string array using a defined separator. If no separator is defined when you call upon the function, whitespace will be used by default

In [12]:
s1 = s.split('_') #separator
s1

["Sachin's", 'Score']

In [13]:
s1[1]

'Score'

In [14]:
#s1[2] #list index out of range
s2 = 'my,string,with,many,separators'
s2.split(',')
s2 = 'carrot,apple,orange'
s2.split(',')[2]

'orange'

# String concatenation

In [15]:
s1 = 'Subham'
s2 = 'Mukherjee'
s3 = s1 + s2
s3

'SubhamMukherjee'

In [16]:
#String is a sequence of unicode characters - ' ' space is a string
s1 + ' ' + s2

'Subham Mukherjee'

# List Slicing

In [19]:
l = [5,2,4,1,10] #square brackets

In [20]:
l

[5, 2, 4, 1, 10]

In [21]:
l[2]

4

In [25]:
l[0:]

[20, 2, 4, 1, 10]

In [26]:
l[1:2]

[2]

In [27]:
l[:2]

[20, 2]

# Python list: Built-in functions

In [28]:
len(l)

5

In [29]:
#l.append(50)
#l
l.insert(0, 100)
l

[100, 20, 2, 4, 1, 10]

In [30]:
#l.remove(4)
l.remove(65) #throws an error

ValueError: list.remove(x): x not in list

In [31]:
l.sort() #Sort the list
l

[1, 2, 4, 10, 20, 100]

In [32]:
l.reverse()
l

[100, 20, 10, 4, 2, 1]

# Strings are immutable

In [33]:
#change string s
s

"Sachin's_Score"

In [34]:
s[0] = 'B'

TypeError: 'str' object does not support item assignment

In [35]:
#list of strings
my_l = ['Hello', 'and','World', 'join', 'like', 'this']
my_l

['Hello', 'and', 'World', 'join', 'like', 'this']

# join(): used to concatenate a list of strings.
separator.join(l)

In [36]:
#' '.join(['Hello', 'and','World', 'join', 'like', 'this']) #separator
#or
s1 = '_'.join(my_l) #separator
s1

'Hello_and_World_join_like_this'

In [37]:
#list with mixed dtypes
new_l = [0, 'abc', 'xyz', 5]
new_l

[0, 'abc', 'xyz', 5]

In [38]:
new_l[1]

'abc'

In [39]:
new_l.remove(5)
new_l.reverse()
new_l

['xyz', 'abc', 0]

In [40]:
' '.join(new_l)

TypeError: sequence item 2: expected str instance, int found

In [41]:
l + new_l

[100, 20, 10, 4, 2, 1, 'xyz', 'abc', 0]

In [42]:
l
new_l

#its important to assign the value to a variable

#l = l + new_l 
#OR
l+=new_l  #Assignment operator
l

[100, 20, 10, 4, 2, 1, 'xyz', 'abc', 0]

In [43]:
#find out the type of the variable
type(l)

list

In [44]:
type(s)

str

In [45]:
type(my_l) #list of strings but still a list

list

# Dictionary: key-value pair

In [46]:
employee = {'Empl_No': 'E_12345','Name': 'ABC', 'DOB': '31/12/1995','Join_date': '01/01/2015', 
            'Title': 'Data Analyst', 'Salary': 100000, 'Manager': 'XYZ'}
employee

{'DOB': '31/12/1995',
 'Empl_No': 'E_12345',
 'Join_date': '01/01/2015',
 'Manager': 'XYZ',
 'Name': 'ABC',
 'Salary': 100000,
 'Title': 'Data Analyst'}

In [47]:
employee['Name']

'ABC'

In [48]:
employee['Salary']

100000

In [49]:
#Nested dictionary
nested_employee = {'E_12345':{'Name': 'ABC','DOB': '31/12/1995' ,'Join_date': '01/01/2015', 'Title': 'Data Analyst',
                        'Salary': '100000', 'Manager': 'XYZ'},
                  'E_6789': {'Blah': 'XYZ','DOB': '13/09/1985' ,'Join_date': '01/01/2005', 'Title': 'Senior Data Analyst',
                        'Salary': '150000', 'Manager': 'PQR'}}

In [50]:
nested_employee

{'E_12345': {'DOB': '31/12/1995',
  'Join_date': '01/01/2015',
  'Manager': 'XYZ',
  'Name': 'ABC',
  'Salary': '100000',
  'Title': 'Data Analyst'},
 'E_6789': {'Blah': 'XYZ',
  'DOB': '13/09/1985',
  'Join_date': '01/01/2005',
  'Manager': 'PQR',
  'Salary': '150000',
  'Title': 'Senior Data Analyst'}}

In [51]:
nested_employee['E_6789']

{'Blah': 'XYZ',
 'DOB': '13/09/1985',
 'Join_date': '01/01/2005',
 'Manager': 'PQR',
 'Salary': '150000',
 'Title': 'Senior Data Analyst'}

In [52]:
nested_employee['E_12345']['Manager']

'XYZ'

In [53]:
len(employee)

7

In [54]:
len(nested_employee)

2

In [55]:
'DOB' in employee.keys() #membership operator

True

In [56]:
#'DOB' in nested_employee.keys()
#'DOB' in nested_employee['E_12345'].keys()
'Name' in nested_employee['E_12345'].keys()

True

In [57]:
employee.keys()

dict_keys(['Name', 'DOB', 'Manager', 'Empl_No', 'Join_date', 'Title', 'Salary'])

In [58]:
#Return list of dictionary dict's keys
employee.keys()

dict_keys(['Name', 'DOB', 'Manager', 'Empl_No', 'Join_date', 'Title', 'Salary'])

In [59]:
#Return list of dictionary dict's values
employee.values()

dict_values(['ABC', '31/12/1995', 'XYZ', 'E_12345', '01/01/2015', 'Data Analyst', 100000])

In [60]:
#Dictionary items() return all key-value pair as tuple
employee.items()

dict_items([('Name', 'ABC'), ('DOB', '31/12/1995'), ('Manager', 'XYZ'), ('Empl_No', 'E_12345'), ('Join_date', '01/01/2015'), ('Title', 'Data Analyst'), ('Salary', 100000)])

In [61]:
#Another way of creating dictionary: list of tuples
new_d = dict([('Empl_No', 'E_12345'), ('Name', 'ABC'), ('DOB', '31/12/1995'), ('Join_date', '01/01/2015'), ('Title', 'Data Analyst'), ('Salary', '100000'), ('Manager', 'XYZ')])
new_d

{'DOB': '31/12/1995',
 'Empl_No': 'E_12345',
 'Join_date': '01/01/2015',
 'Manager': 'XYZ',
 'Name': 'ABC',
 'Salary': '100000',
 'Title': 'Data Analyst'}

In [62]:
#Append dictionaries: Note that the update method will merge existing elements if they conflict.

d1 = {1:2, 2:3}
d2 = {2:4, 3:5}
#d1.update(d2)
d2.update(d1)
d2

{1: 2, 2: 3, 3: 5}

In [63]:
nested_employee

{'E_12345': {'DOB': '31/12/1995',
  'Join_date': '01/01/2015',
  'Manager': 'XYZ',
  'Name': 'ABC',
  'Salary': '100000',
  'Title': 'Data Analyst'},
 'E_6789': {'Blah': 'XYZ',
  'DOB': '13/09/1985',
  'Join_date': '01/01/2005',
  'Manager': 'PQR',
  'Salary': '150000',
  'Title': 'Senior Data Analyst'}}

In [64]:
nested_employee['E_6789']

{'Blah': 'XYZ',
 'DOB': '13/09/1985',
 'Join_date': '01/01/2005',
 'Manager': 'PQR',
 'Salary': '150000',
 'Title': 'Senior Data Analyst'}

In [65]:
nested_employee['E_12345']['Manager']

'XYZ'

# Creating Dictionary using zip

In [66]:
team = ['MI', 'KKR', 'RCB']
captain = ['Rohit Sharma', 'Gautam Gambhir', 'Shane Watson']
team_captain = dict(zip(team, captain))

In [67]:
team_captain

{'KKR': 'Gautam Gambhir', 'MI': 'Rohit Sharma', 'RCB': 'Shane Watson'}

# Tuples

In [68]:
#A tuple is an immutable list. A tuple can not be changed in any way once it is created.
#So append(), extend(), insert(), remove(), and pop() would not work on a tuple
#The only operation possible is create a slice that would make a new tuple.

In [69]:
t = ('a', 5,3,'b', 'c')
t

('a', 5, 3, 'b', 'c')

In [70]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [71]:
t1 = t[2:4]
t1

(3, 'b')

# Sets: un-ordered collection of values
Sets are unordered so no index

In [72]:
s = {1,2,3,3} 
d = {'key':'value'}
s

{1, 2, 3}

In [73]:
s1 = {'A', 'a', 'A', 'aa', 'b', 5,8,8.0}
s1

{'aa', 'b', 5, 'A', 8.0, 'a'}

Changing the value in a set

In [74]:
s.add(6)
s

{1, 2, 3, 6}

In [75]:
s.update(s1)
s

{1, 2, 3, 'aa', 'b', 6, 5, 'A', 8.0, 'a'}

Removing value from a set

In [76]:
# If you try to remove an element from a set that is not present, remove would throw an error
s.remove(1) 
s

{2, 3, 'aa', 'b', 6, 5, 'A', 8.0, 'a'}

In [77]:
s.discard(2)
s

{3, 'aa', 'b', 6, 5, 'A', 8.0, 'a'}

# Conditionals: Control flow statements
Statements that control the flow of execution depending on some condition. 
Boolean expression - determines which branch is executed. 
Keywords - if , elif , and else.

if-else basics

In [78]:
if 2 > 10:
    print( "2 is grater than 1")

In [79]:
x = 20
y = 20
z = 100

if x > y:
    print( "x is greater than y and y is greater than 15")
elif x == y:
    print( "x is equal to y")

else:
    print( "x is less than y")

x is equal to y

In [80]:
#Multiple conditions:

x = 2
y = 1
z = 4

if x > y and y > z:  #logical operator
    print( True)
else:
    print( False)

False

In [81]:
x = 2
y = 1
z = 3

if (x > y and y > z) or z > x:
    print( True)
else:
    print( False)

True

In [83]:
import pandas as pd

In [84]:
df = pd.DataFrame(data={'portion':[1, 2, 3, 4], 'used':[1.0, 0.3, 0.0, 0.8]})
df

   portion  used
0        1   1.0
1        2   0.3
2        3   0.0
3        4   0.8

In [85]:
#if the "PortionUsed" column says "1.0" I'd like the new "Alert" column to say "Full". If the if the "PortionUsed" 
#column says "0.0" I'd like the new "Alert" column to say "Empty". Otherwise, I'd like the Alert column to say 
#"Partial.

def alert(c):
    if c['used'] == 1.0:
        return 'Full'
    elif c['used'] == 0.0:
        return 'Empty'
    elif 0.0 < c['used'] < 1.0:
        return 'Partial'
    else:
        return 'Undefined'


df['alert'] = df.apply(alert, axis=1)
df

   portion  used    alert
0        1   1.0     Full
1        2   0.3  Partial
2        3   0.0    Empty
3        4   0.8  Partial

# Loops
While: Condition based
For: Iteration based

while loop
Condition
Sequence of instructions
Exit/Infinite loop

A condition is checked over iteration and a block of code is executed till condition is True or forever

In [87]:
i = 0
while i < 6:    #breaking condition
    i += 1
    print( i)

1
2
3
4
5
6

In [88]:
#Using break and continue

i = 0
while True:  #infinite loop
    i += 1
    print( i)
    if i == 10:
        break # you have to call break to break out of the loop

1
2
3
4
5
6
7
8
9
10

In [90]:
#Print odd numbers between 0 to 100

i = 0
while i < 100:
    i += 1
    if i%2 == 0: 
        continue

    print( i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Range()
Upper and lower bounds of an array

In [91]:
for i in range(5):
    print(i)

0
1
2
3
4

In [92]:
for i in range(2,0):
    print(i)

# for loop
Iterate over the members of a sequence in order
Execute the block
Exit

In [96]:
l = [22,89,78,56,34,66]
for num in l:
    print(num)

22
89
78
56
34
66

In [97]:
n=5
l*2

[22, 89, 78, 56, 34, 66, 22, 89, 78, 56, 34, 66]

In [98]:
#Return a new list with cube of all the values
l = [1,2,3,4,5]
cube_l = []

for number in l:
    c = number**3
    cube_l.append(c)
    
cube_l

[1, 8, 27, 64, 125]

In [99]:
#iterating the list on index : Used when you have to compare an element with another element
l = [24, 33, 12, 99, 4]

index_numbers = range( len( l))

for index in range(len(l)):
    
    #print (index) 
    print (l[index], l[index-1])

24 4
33 24
12 33
99 12
4 99

In [100]:
#Return a new list only with numbers that are greater than the previous number in the list

l = [24, 33, 12, 99, 4]
l_greater = []
for i in range(0, len(l)-1, 1): #range(stop) range(start, stop,step)
    if l[i] > l[i+1]:
        #l_greater.append(l[i])
        print(l[i])
        
#l_greater

33
99

# Functions
Functions are "self contained" modules of code that accomplish a specific task
They take in data, process it, and return a result
Once a function is written, it can be used over and over and over again

In [ ]:
#Examples of python built-in functions
#'abc'.upper()
#sum([1,2,3])
#len('abcd')
#list(), tuple(), print(), input(), abs()

In [1]:
def find_mean(l):
    sum_l = 0
    for element in l:
        sum_l = sum_l + element
    
    return (sum_l/len(l))

find_mean([1,2,3,4,5])

3.0

In [2]:
# If there is a 3 followed by 4 in a list, swap them.
def swap_3_and_4( l):
    for index in range( len(l)-1):
        if l[index] == 3 and l[index+1] == 4:
            l[index] ,l[index+1] = l[index+1] ,l[index]

    return l

swap_3_and_4([1,2,3,4]) 
#swap_3_and_4([9,3,4,5,3,4])

[1, 2, 4, 3]

# Anonymous Functions (lambda functions)
Anonymous functions are functions that are defined without a name
Regular functions are defined using def, anonymous are defined using lambda

In [3]:
my_cube = lambda x: x**3
my_cube(4)

64

In [4]:
#if-else in lambda
my_max = lambda x, y: x if x > y else y
my_max(15,9)

15